@import "../../assets/scss/colors.scss";
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &.--small {
    max-width: 460px;
    margin: 0 auto;
  }
  &__button {
    background: transparent;
    border: 1px solid $dark-green;
    border-radius: 30px;
    padding: 10px 5px 10px 0;
    color: $dark-green;
    text-decoration: none;
    font-weight: 300;
    display: flex;
    width: 120px;
    justify-content: space-around;
    align-items: center;
    transition: background-color 300ms;

    cursor: pointer;
    .button__image {
      transform: rotate(0deg);

      &.--right {
        transform: rotate(180deg);
      }
    }
    &:hover {
      background-color: $dark-green;
      color: white;
      .button__image {
        filter: brightness(100);
      }
    }
  }
}
@media (max-width: 768px) {
  .navigation {
    flex-direction: column-reverse;
    &__button {
      max-width: 200px;
      margin: 15px auto;
      &:first-child {
        margin-bottom: 40px;
      }
      &:last-child {
        background-color: $dark-green;
        color: white;
        .button__image {
          filter: brightness(100);
        }
      }
    }
  }
}
